.footer{
    background-color: #303030;
    padding: 1rem 0 2rem 0;
}

.footer--social{
   margin-top: 2rem;
}

.footer--title{
    font-weight: 500;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #eee;
}

.footer--image{
    width: 3.7rem;
    margin-right: 1rem;
}

.footer--aknowledgment{
    color: #eee;
    padding: 1rem;
    text-align: center;
}