.table{
    padding: 0 3%;
    width: 100%;
    max-height: 450px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.table tr{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.table td{
    padding: 0.3rem;
}

.table tr:nth-of-type(odd){
    background-color: rgb(216, 216, 216);
}