@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(238, 238, 238, 0.795);
}

.app{
    padding: 2% 3%;
}

.app--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.app--titleBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.app--titleBox-title{
    font-family: 'Lobster', cursive;
    font-size: 64px;
    font-weight: 700;
}

.app--titleBox-text{
    color: #303030;
    font-weight: 500;
}

.app--left{
    display: flex;
    flex-direction: column;
}

.app--cards{
    max-height: 210px;
}

.app--map{
    height: 600px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    margin: 1.5rem 1.5rem 1.5rem 0;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.app--map .leaflet-container{
    height: 100%;
    width: 100%;
}

.info-flag img {
    width: 100px;
    border-radius: 5px;
}
  
.info-name {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}
  
.info-container {
    width: 150px;
}
  
.info-flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}
  
.info-confirmed,
.info-recovered,
.info-deaths {
    font-size: 16px;
    margin-top: 5px;
}
  

.app--sidebar-title{
    padding: 0 3%;
    font-size: 24px;
    font-weight: 600;
    color: #303030;
    margin: 1rem 0;
}

/* .app--sidebar-graph{
    display: flex;
    flex-direction: column;
    align-items: baseline;
} */

@media screen and (max-width: 960px){
    .app--cards{
        max-height: fit-content;
    }

    .app--map{
        height: 500px;
        margin: 1.5rem 1rem;
    }

    .app--right{
        padding: 0 1rem;
    }
}

@media screen and (max-width: 600px){
    .app--header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app--titleBox{
        width: 100%;
        align-items: center;
    }

}